# Compiled Object files
*.slo
*.suo
*.ncb
*.lo
*.o
*.obj
*.user
*.ilk
*.pdb
*.exp
*.class

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
Binaries/
GeneratedFiles/
Win32/
Temp/
out/
# **/.idea/workspace.xml
# **/.idea/tasks.xml
.idea/
lib/
out/
target/
fpinscala/
datas/

# Resources
*.mp3

# Temporary files
*.*~

# IPython Notebook
.ipynb_checkpoints
